*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style */
ul{
    list-style: none;
}
a{
	text-decoration: none;
}
header{
    background-color: #0020F4;
    height: 91px;
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}
header a{
    color: #FFFFFF;
}
nav, nav ul, nav li{
    padding: 2px;
	display: inline;
    margin-left: 40px;
}
nav, .logo{
	vertical-align: middle;
}
nav li{
	margin: 8px;
	font-family: 'HelveticaNeue';
}
.butt-on{
	color: #171717;
	background-color: #FFFFFF;
	padding: 7px;
	border-radius: 28px;
	font-family: 'HelveticaNeue-bold';
}

/* div */

/* section{
    background-color: #0020F4;
    height: 308px;
    width: 100%;
} */
h3{
    color: #FFFFFF;
    font-family: 'HelveticaNeue-bold';
}
.relative{
    position: relative;
    background-color: #0020F4;
    height: 308px;
    width: 100%;
    padding: 120px;
}

.middle{
    width: 240px;
}
.high{
    width: 300px;
}
.dot{
    position: absolute;
    top: 90px;
    right: 140px;
    font-size: 50px;
    color: #FFFFFF;
}
#left{
    position: absolute;
    bottom: -110px;
    left: 122px;
    display: block;
    width: 245px;
    color: #171717;
    font-family: 'HelveticaNeue';
}
#right{
    position: absolute;
    bottom: -110px;
    right: 120px;
    display: block;
    width: 245px;
    color: #171717;
    font-family: 'HelveticaNeue';
}
#center {
    position: absolute;
    top: 100%;
    left: 38%;
    width: 245px;
    display: block;
    color: #171717;
    font-family: 'HelveticaNeue';
}
.opacity{
    opacity: 0.3;
}
/* .rel{
    background-color: #0020F4;
    margin-top: 91px;
    position: relative;
}
#small{
    position: absolute;
    max-width: 707px;
    height: 528px;
    left: 240px;
}
#square{
    right: 0;
    position: absolute;
} */