*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style */
ul{
    list-style: none;
}
a{
	text-decoration: none;
}
header{
    background-color: #0020F4;
    height: 91px;
    padding: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}
header a{
    color: #FFFFFF;
}
nav, nav ul, nav li{
    padding: 2px;
	display: inline;
    margin-left: 40px;
}
nav, .logo{
	vertical-align: middle;
}
nav li{
	margin: 8px;
	font-family: 'HelveticaNeue';
}
.butt-on{
	color: #171717;
	background-color: #FFFFFF;
	padding: 7px;
	border-radius: 28px;
	font-family: 'HelveticaNeue-bold';
}

/* div */
h3{
    color: #FFFFFF;
    font-family: 'HelveticaNeue-bold';
    margin-left: 50px;
}
.relative{
    position: relative;
    background-color: #0020F4;
    height: 308px;
    width: 100%;
    padding: 120px;
}

.middle{
    width: 300px;
}
.high{
    width: 360px;
}
.dot{
    position: absolute;
    top: 90px;
    right: 250px;
    font-size: 50px;
    color: #FFFFFF;
}
#left{
    position: absolute;
    bottom: -150px;
    left: 172px;
    display: block;
    width: 245px;
    color: #171717;
    font-family: 'HelveticaNeue';
}
#right{
    position: absolute;
    bottom: -150px;
    right: 300px;
    display: block;
    width: 245px;
    color: #171717;
    font-family: 'HelveticaNeue';
}
#center {
    position: absolute;
    top: 115%;
    left: 38%;
    width: 245px;
    display: block;
    color: #171717;
    font-family: 'HelveticaNeue';
}
.opacity{
    opacity: 0.3;
}
.relative .inline, div, img{
    display: inline-block;
}
.inline{
    margin-left: 50px;
}